# Projeto Interpretabilidade de modelos 

Grupo:
- Lucas dos Reis Silva
- Gabriel Homci

In [1]:
import pandas as pd
from rich import print as rprint

In [12]:
df = pd.read_csv("dataset/permier_league_2024.csv")
df.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10

In [13]:
columns = [
    "Date",
    "HomeTeam",
    "AwayTeam",
    "FTHG",
    "FTAG",
    "FTR",
    "HTHG",
    "HTAG",
    "HTR",
    "HS",
    "AS",
    "HST",
    "AST",
    "HF",
    "AF",
    "HC",
    "AC",
    "HY",
    "AY",
    "HR",
    "AR",
]

df = df[columns]
column_map = {
    "Date": "match_date",
    "HomeTeam": "home_team",
    "AwayTeam": "away_team",
    "FTHG": "full_time_home_goals",
    "FTAG": "full_time_away_goals",
    "FTR": "full_time_result",
    "HTHG": "half_time_home_goals",
    "HTAG": "half_time_away_goals",
    "HTR": "half_time_result",
    "HS": "home_shots",
    "AS": "away_shots",
    "HST": "home_shots_on_target",
    "AST": "away_shots_on_target",
    "HF": "home_fouls",
    "AF": "away_fouls",
    "HC": "home_corners",
    "AC": "away_corners",
    "HY": "home_yellow_cards",
    "AY": "away_yellow_cards",
    "HR": "home_red_cards",
    "AR": "away_red_cards",
}

df = df.rename(columns=column_map)
df['half_time_result_code'] = df['half_time_result'].map({'A': 0, 'D': 1, 'H': 2})
df['full_time_result'] = df['full_time_result'].map({'A': 0, 'D': 1, 'H': 2})
df

,match_date,home_team,away_team,full_time_home_goals,full_time_away_goals,full_time_result,half_time_home_goals,half_time_away_goals,half_time_result,home_shots,...,away_shots_on_target,home_fouls,away_fouls,home_corners,away_corners,home_yellow_cards,away_yellow_cards,home_red_cards,away_red_cards,half_time_result_code
0,16/08/2024,Man United,Fulham,1,0,2,0,0,D,14,...,2,12,10,7,8,2,3,0,0,1
1,17/08/2024,Ipswich,Liverpool,0,2,0,0,0,D,7,...,5,9,18,2,10,3,1,0,0,1
2,17/08/2024,Arsenal,Wolves,2,0,2,1,0,H,18,...,3,17,14,8,2,2,2,0,0,2
3,17/08/2024,Everton,Brighton,0,3,0,0,1,A,9,...,5,8,8,1,5,1,1,1,0,0
4,17/08/2024,Newcastle,Southampton,1,0,2,1,0,H,3,...,4,15,16,3,12,2,4,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,25/05/2025,Newcastle,Everton,0,1,0,0,0,D,17,...,6,12,9,12,3,1,4,0,0,1
376,25/05/2025,Nott'm Forest,Chelsea,0,1,0,0,0,D,10,...,2,10,11,7,4,2,2,0,0,1
377,25/05/2025,Southampton,Arsenal,1,2,0,0,1,A,7,...,8,7,8,5,8,0,0,0,0,0
378,25/05/2025,Tottenham,Brighton,1,4,0,1,0,H,4,...,8,13,8,2,11,3,1,0,0,2
379,25/05/2025,Wolves,Brentford,1,1,1,0,1,A,18,...,7,7,9,8,3,2,1,0,0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   match_date            380 non-null    object
 1   home_team             380 non-null    object
 2   away_team             380 non-null    object
 3   full_time_home_goals  380 non-null    int64
 4   full_time_away_goals  380 non-null    int64
 5   full_time_result      380 non-null    object
 6   half_time_home_goals  380 non-null    int64
 7   half_time_away_goals  380 non-null    int64
 8   half_time_result      380 non-null    object
 9   home_shots            380 non-null    int64
 10  away_shots            380 non-null    int64
 11  home_shots_on_target  380 non-null    int64
 12  away_shots_on_target  380 non-null    int64
 13  home_fouls            380 non-null    int64
 14  away_fouls            380 non-null    int64
 15  home_corners          380 non-null    int64
 16  away_corners          380 non-null    int64
 17  home_yellow_cards     380 non-null    int64
 18  away_yellow_cards     380 non-null    int64
 19  home_red_cards        380 non-null    int64
 20  away_red_cards        380 non-null    int64
dtypes: int64(16), object(5)
memory usage: 62.5+ KB